@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Archivo:ital,wght@0,100..900;1,100..900&family=Arimo:wght@400..700&family=Bebas+Neue&family=Calistoga&family=Fugaz+One&family=Lustria&family=Onest:wght@100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Archivo:ital,wght@0,100..900;1,100..900&family=Arimo:wght@400..700&family=Bebas+Neue&family=Calistoga&family=Fugaz+One&family=Lustria&family=Noto+Kufi+Arabic:wght@100..900&family=Onest:wght@100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Archivo:ital,wght@0,100..900;1,100..900&family=Arimo:wght@400..700&family=Bebas+Neue&family=Calistoga&family=Fugaz+One&family=Lustria&family=Noto+Kufi+Arabic:wght@100..900&family=Onest:wght@100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin:0;
    padding:0;
    /* font-family: "Onest", serif; */
    font-optical-sizing: auto;
    font-style: normal;
    box-sizing:border-box;
}

html {
    scroll-behavior:smooth;
}


:root {
    --primary-text-color:rgba(33, 100, 255, 0.921);
    --card-color:rgba(54, 103, 217, 0.899);
    --nav-color:rgba(54, 103, 217, 0.299);
    --background-color:#f6f8ff;
    --light-color:rgba(54, 103, 217, 0.58);
    --primary-weight:500;
    --marquee-width: 80vw;
    --marquee-height: 20vh;
    --marquee-elements-displayed: 6;
    --marquee-element-width: calc(var(--marquee-width) / var(--marquee-elements-displayed));
    --marquee-animation-duration: calc(var(--marquee-elements) * 3s);
} 


body {
    background-color: var(--background-color);  
}

html {

    scrollbar-width: thin; /* Options: auto, thin, none */
    scrollbar-color: var(--card-color) var(--card-color);

}





.col_pages strong {
    color: var(--primary-text-color);
}

#product-overview-text {
    font-family: "Noto Kufi Arabic", serif;

}


/* df */
header {
    width:100%;
    height:fit-content;
    display:flex;
    flex-direction:row;
    align-items:center;
    /* position: fixed; */
    /* top:0; */
    padding:20px;
    position: relative;
}

.home_section {
    width:69%;
    height:fit-content;
    /* height:580vh; */
    position: relative;
    margin:auto;
    overflow: hidden;
    /* border:1px solid rgba(90, 90, 90, 0.22); */
}

.main_nav {
    width:100%;
    display:flex;
    height:fit-content;
    position: relative;
    user-select:none;
    flex-direction: row;
    align-items: center;
    /* position: fixed; */
    justify-content: space-between;    
    transform: translateY(-100px);
    animation: appearfirst 1s ease 0s forwards ;

}

.nav__links {
    display: flex;
    flex-direction: row;
    gap:30px;
    list-style:none;
}

.logo {
    font-size:1.8rem;
    cursor: pointer;
    font-weight:700;
    color: var(--primary-text-color);
}

.nav__links li {
    font-size:1.3rem;
    font-weight:400;
    cursor: pointer;
    transition:all 0.3s ease 0s;
}

.nav__links li:hover {
    color:var(--primary-text-color);
}



.sec_nav {
    /* border: 1px solid red; */
    width: fit-content;
    height: fit-content;
    display: flex;
    align-content: enter;
    justify-content: center;
    display: none;
}

.sec_nav svg {
    width:33px;
    height: 33px;
    cursor: pointer;
}
.hr {
    margin:100px 0;
    width: 100%;
    height:1px;
    background-color: rgba(82, 81, 81, 0.383);
}




.footer_section {
    width:100%;
    height:fit-content;
    /* border:1px solid red; */
    border-radius:23px;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding:5%;
    margin-bottom:40px;
    /* align-items: center; */
    flex-wrap: wrap;
    box-shadow: 0px 0px 10px rgba(88, 88, 88, 0.189);
}

.col_social_media_container {
    display: flex;
    flex-direction: column;
    gap:30px;
    justify-content: space-between;
}

.col_pages {
    display: flex;
    flex-direction: column;
    gap:30px;
}

.col_pages strong {
    font-size:1.4rem;
    font-weight: 500;
}
.footer_sec_conatainer {
    display: flex;
    justify-content: space-between;
    gap:40px;
}

.col_social_media_container p {
    font-size:2rem;
    width:500px;
}


.social_media {
    display: flex;
    flex-direction: row;
    gap:20px;
    align-items: center;
    /* border:1px solid red; */
    width: fit-content;
    justify-content: space-between;

}
.social_media li{
    list-style: none;
    width:35px;
    height:35px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    border-radius:50%;
    border:1px solid rgb(0, 0, 0);
    overflow: hidden;
    cursor: pointer;
    box-shadow: 0px 4px 10px var(--primary-text-color);
    transition: all 0.3s ease 0s;
}


.social_media li:hover {
    transform: translateY(-4px);
    box-shadow: 0px 0px 0px var(--primary-text-color);
}


.social_media li img {
    width:55%;
    height:55%;
    object-fit: cover;
}

.pages_list {
    list-style:none;
    display: flex;
    flex-direction: column;
    gap:10px;
    font-size:1rem;
}

.pages_list li {
    position: relative;
    transition: all 0.3s ease 0s;
    cursor: pointer;;
}

.pages_list li:hover {
    color:var(--primary-text-color);
}


.map_container {
    width:300px;
    height:300px;
    border-radius:23px;
    border: 1px solid rgba(101, 101, 101, 0.264);;
    min-width: 300px;
    overflow: hidden;
}

.map_container img {
    width:100%;
    height: 100%;
}

.sec_main_nav {
    position: absolute;
    width: 290px;
    right: 0;
    border-bottom-left-radius: 14px;
    /* border-bottom-right-radius: 14px; */
    top: 80px;
    height: fit-content;
    z-index: 11111;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(30px);
    background-color: var(--nav-color);
    color: #fff;
    transition: opacity 1s ease, max-height 1s ease;
    opacity: 1;
    max-height: 0; 
    overflow: hidden; 
}


.nav__links_sec {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;

}

.sec_main_nav.active {
    opacity: 1;
    max-height: 500px; 
    transform: translateY(0);
}

.nav__links_sec li {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    padding: 30px;
    border-top: 1px solid rgba(128, 128, 128, 0.6);
    cursor: pointer;
    transition: all 0.3s ease;
}

.nav__links_sec li:hover {
    background-color: rgba(255, 255, 255, 0.1); /* Add a hover effect */
    transform: scale(1.05); /* Slightly enlarge on hover */
}


.nav__links_sec li:hover {
    background-color: #11b5da25;
    color:#282727;
}



.appear {
    animation: apperaanim 1s ease 0s forwards; 
}

@keyframes apperaanim {
to {
    opacity: 1;
    filter:blur(0px);
    transform: translateX(0px);
    transform: translateY(0px);
}
}


.first_page_anim {
    animation: appearfirst 1s ease 0s forwards ;
}

@keyframes appearfirst {
    to {
        transform: translateX(0px);
        transform: translateY(0px);
        opacity: 1;
        scale: 1;
    }
}




.lang_main {
    width:57px;
    padding: 8px;
    font-size: 16px;
    color: #333;
    background-color: #f9f9f900;
    border: 1px solid #cccccc8a;
    border-radius: 4px;
    appearance: none; 
    outline: none;
    cursor: pointer;
}

.lang_main option {
    padding: 8px;
    font-size: 16px;
    color: #000;
    background-color: #ffffff;
}

.lang_main option:hover {
    background-color: #f0f0f0;
    color: #007bff;
}

.lang_main option:checked {
    background-color: #007bff;
    color: #fff;
}



.product_wrapper  {
    width:100%;
    /* height:100vh; */
    height: fit-content;
    /* border: 1px solid red;; */
    display: flex;
    flex-direction: row;
    gap:100px;
}

.product_img_container {
    width:40%;
    height:100%;
    /* border:1px solid red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    gap:10px;
    min-width: 330px;;
}

.product_info_container {
    width: 60%;
    height: 100%;
    /* border:1px solid green; */
    display: flex;
    gap:30px;
    flex-direction: column;
    position: relative;
}

.product_info_container h1 {
    font-size:2.3rem;
    text-shadow: 0px 7px 9px #000000b8;
}

section h2 {
    /* background-color: rgba(84, 78, 78, 0.096); */
    width: fit-content;
    padding:10px 20px;
    border-radius:30px;
    font-size: 2rem;
}

.main_img {
    width: 100%;
    height: 400px;
    /* border: 1px solid rgba(77, 0, 0, 0.199); */
    border-radius:23px;
    overflow: hidden;
}

.additional_img {
    width: 100%;
    height: 400px;
    
    /* border: 1px solid rgba(255, 0, 0, 0.285); */
    border-radius:23px;
    overflow: hidden;
}

.main_img img , .additional_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.product_info_container p {
    margin:10px 40px;
    font-size: 1.3rem;
}


#supplier {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap:20px;
}

#supplier img {
    width: 100%;
}

.button_order {
    width: 100%;
    /* border:1px solid red;; */
    /* position: absolute; */
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.button_order button {
    padding: 15px 25px;
    border-radius: 12px;
    border: none;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    background-color: transparent;
    color: black;
    font-weight: 600;
    font-size:1rem;
    border:1px solid black;
    box-shadow: 0px 5px rgb(0, 0, 0);
    transition: all 0.3s ease 0s;
}

.button_order button:hover {
    box-shadow: 0px 0px rgb(0, 0, 0);
    transform: translateY(5px);
}


.button_order button::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 4px;
    height: 4px;
    background-color: rgba(4, 130, 139, 0.356);
    scale: 1;
    transition: all 1s ease 0s;
    border-radius:50%;
}

.button_order button:hover::before {
    scale: 90;
}





.map_container img {
    width:130%;
    height: 130%;
    object-fit: cover;
}
.pages_list li {
    position: relative;
    transition: all 0.3s ease 0s;
    cursor: pointer;;
    text-decoration:none;
    
}

.pages_list li:hover {
    color:var(--primary-text-color);
}